accelerate==0.34.2
albumentations==1.4.17
huggingface-hub==0.25.1
imgaug==0.4.0
kaggle==1.6.17
kaggle-environments==1.14.15
kagglehub==0.3.1
matplotlib==3.7.5
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pyaml==24.9.0
pytesseract==0.3.13
pytorch-ignite==0.5.1
pytorch-lightning==2.4.0
safetensors==0.4.5
scipy==1.14.1
seaborn==0.12.2
torch==2.4.0
torchaudio==2.4.0
torchinfo==1.8.0
torchmetrics==1.4.2
torchvision==0.19.0
tqdm==4.66.4
transformers==4.45.1